In [1]:
import numpy as np
import pandas as pd
import json

In [17]:
with open('./nightlight.json') as f:
    data = json.load(f)
df = pd.DataFrame(data)
df = df.rename(columns={'key': 'state'})
df.to_csv('NightLights.csv')

                key  year  month satellite    count vis_median
0         karnataka  1993      1       F10   487878    -0.5106
1             delhi  1993      1       F10     2977    14.4421
2  himachal-pradesh  1993      1       F10   363720     0.2410
3           gujarat  1993      1       F10   393956    -0.1771
4            kerala  1993      1       F10    23400     0.6627
5           tripura  1993      1       F10    19964    -0.6567
6     uttar-pradesh  1993      1       F10  2031872    -0.4713
7           haryana  1993      1       F10   127445     1.2410
8       maharashtra  1993      1       F10   884208    -0.2667
9            sikkim  1993      1       F10    10100     0.8229